body, html { /*This is the main body of the setup window for the API key setup */
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #a1c4fd;
}

.container {
    max-width: 340px;
    max-height: 300px;
    margin: 50px; 
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1{ /* Makes sure the text is center aligned */
    text-align: center;
}

.title {
    color: #333;
    margin-bottom: 30px;
}

input[type="text"], input[type="submit"] { /* This changes the input box for the setup window */
    width: 100%;
    padding: 10px;
    margin-top: 10px;  /* Space between inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] { /* This changes the submit button for the setup window */
    background-color: #008CBA;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005f73;
}
