#question {
    min-width: 400px; 
    min-height: 90px; 
    resize: both; 
    overflow: auto; 
  }

#askButton {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #response{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
  }

  body{
    margin: 0px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 15px;
  }
